<div class="field">
  <%= form_for @classroom do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :campus %></p>
  <p><%= f.text_field :campu_id %></p>

  <div class="submit">
    <p><%= f.submit %></p>
  </div>
  <% end %>
</div>