<h2>Classroom</h2>
<table>
  <tr>
    <td>Classroom</td>
    <td>Campus</td>
    <td>User: Name</td>
    <td>User: Email Address</td>
    <td>Course</td>
  </tr>
  <tr>
    <% @bookings.each do |booking| %>
    <td><%= @classroom.name %></td>
    <td><%= @classroom.campu.name %></td>
    <td><%= booking.user.name %></td>
    <td><%= booking.user.email %></td>
    <td><%= booking.course.name %></td>
  </tr>
  <% end %>
</table>

<% if can? :manage, @classroom %>
  <%= link_to('Edit Classroom', edit_classroom_path(@classroom)) %>

  <%= link_to('Delete Classroom', classroom_path(@classroom), method: :delete) %>

<% end %>