<div class="field">
  <%= form_for @campu do |f| %>
  <p><%= f.label :country %></p>
  <p><%= f.text_field :country %></p>

  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <div class="submit">
    <p><%= f.submit %></p>
  </div>
  <% end %>
</div>