<h2>All Bookings</h2>

<table>
  <tr>
  <td>Course</td>
  <td>Country</td>
  <td>Campus</td>
  <td>Classroom</td>
  <td>Start Date</td>
  <td>Duration</td>
  <td>Maximum Capacity</td>
  <td>User: Name</td>
  <td>User: Email Address</td>
  </tr>
  <% @bookings.each do |booking| %>
    <tr>
    <td><%= booking.course.name %></td>
    <td><%= booking.course.classroom.campu.country %></td>
    <td><%= booking.course.classroom.campu.name %></td>
    <td><%= booking.course.classroom.name %></td>
    <td><%= booking.course.start_date %></td>
    <td><%= booking.course.duration %></td>
    <td><%= booking.course.max_capacity %></td>
    <td><%= booking.user.name %></td>
    <td><%= booking.user.email %></td>
    </tr>
  <% end %>
</table>