<div class="field">
  <%= form_for User.new do |f| %>
  <p><%= f.label :name %></p>
  <p><%= f.text_field :name %></p>

  <p><%= f.label :email %></p>
  <p><%= f.text_field :email %></p>

  <p><%= f.label :password %></p>
  <p><%= f.text_field :password %></p>

  <p><%= f.label :role %></p>
  <p><%= f.text_field :role %></p>

  <p><%= f.label :courses_enrolled_in %></p>
  <p><%= f.text_field :courses_enrolled_in %></p>

  <div class="submit">
    <p><%= f.submit %></p>
  </div>
  <% end %>
</div>