<h2><%= @course.name %></h2>
<p>This course takes place in: <%= @course.city %></p>
<p>It is <%= @course.duration %> long</p>
<p> It costs: <%= number_to_currency(@course.price) %></p>
<p>The start date is: <%= @course.start_at %></p>
<p>The end date is: <%= @course.end_at %></p>

<p>The maximum number of students in this class will be: <%= @course.max_capacity %></p>

  <% if can? :manage, @course %>

    <p><%= link_to('Edit', edit_course_path(@course)) %></p>

    <p><%= link_to('Delete', course_path(@course), method: :delete) %></p>
  <% end %>


<% if user_signed_in? %>

  <%= form_for Booking.new do |f| %>
    <%= f.hidden_field :course_id, value: @course.id %> 

    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.submit 'Apply for Course', :onclick => "alert('Thank you for submitting your application! GA will follow up within 7 working days.')" %>

  <% end %>
  <% else %>
  <p>You must sign up to book a course with General Assembly.</p>
  <%= link_to "signup", new_user_registration_path %>
<% end %>