<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= stylesheet_link_tag "public/stylesheets/event_calendar.css" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "public/javascripts/event_calendar.js" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <header>

     <div class="login"> 
       <p class="notice"><% notice %></p> 
       <p class="alert"><% alert %></p> 
      <% if user_signed_in? %>
        <p><% current_user.email %></p>
        <p><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></p>
        <p><%= link_to('Edit registration', edit_user_registration_path) %></p>
      <% else %>

      <p>Do you have an account?
      <%= link_to('Login', new_user_session_path)  %>  
      <%= link_to('Register', new_user_registration_path)  %>
      </p>
    <% end %> 
     </div> 
  </header>

    <h1>The GA Planner App</h1>

    <div class="index">
      <ul>
        <li><%= link_to("Campuses", campus_path) %></li>
        <li><%= link_to("Courses", courses_path) %></li>
        <li><%= link_to("Classrooms", classrooms_path) %></li>
        <li><%= link_to("Bookings", bookings_path) %></li>
      </ul>
    </div>

    <div class="header">
    <%= image_tag("1.jpg", class: "banner")%>
    </div>
    <%= yield %>

  </body>
</html>
